body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainInputs {
    margin: 5px;
}